{% extends 'base.html' %}
{% block title %}Resetowanie hasła{% endblock %}
{% block content %}
    <section class="reset-password-page">
    <h2>Resetowanie hasła</h2>
    {% if validlink %}
        <h3>Wprowadź nowe hasło</h3>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
            {{ form.as_p }}
            </div>
            <div class="form-group form-group--buttons">
            <button class="btn" type="submit">Zapisz</button>
            </div>
        </form>
    {% else %}
        <h3>Link pozwalający na zresetowanie hasła jest nieprawidłowy.
            Musisz ponownie rozpocząć procedurę resetowania hasła.</h3>
    {% endif %}
    </section>
{% endblock %}